body{
    background-color: floralwhite;
    font-family: 'PT Serif', serif;
}

.header {
    max-height: 10vh;
}

h1{
    font-family: 'Source Serif Pro', serif;
}

.Layout {
    display: flex;
    min-height: 85vh;
    flex-direction: column;
}

.Layout-body {
    display: flex;
    flex: 1;
    
}

.Layout-center {
    flex: 1;
}

.Layout-nav,
.Layout-right {
    /* 12em is the width of the columns */
    flex: 0 0 15em;
}

.Layout-right {
    overflow: auto;
    max-height: 91vh;
    
    
}

.Layout-nav {
    /* put the nav on the left */
    order: -1;
}

#map {
    height: 540px;
    margin: 10px auto;
    border: solid;
}

.buffInput {
    width: 4em;
}

#queryButton {
    border-radius: 5px;
    padding: 2px;
}

.borderpop {
    border-top: solid;
    border-width: 1px;
}