body {
    background-color: white;
    font-family: 'PT Serif', serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(45, 43, 43);
    color: white;
    padding: 18px 12px;
}

h1 {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.7em;
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 12px;
}

.layout {
    display: flex;
    min-height: 85vh;
    flex-direction: column;
}

.layout-body {
    display: flex;
    flex: 1;
}

.layout-center {
    flex: 1;
}

.layout-nav {
    /* 12em is the width of the columns */
    flex: 0 0 15em;
    order: -1;
}

.layout-right {
    overflow: auto;
    max-height: 91vh;
    flex: 0 0 20em;
}

#map {
    height: 540px;
    margin: 0;
}

#dist-label {
    padding-left: 10px;
}

#queryButton {
    border-radius: 5px;
    padding: 2px;
}

#totals {
    padding: 5px;
}

.borderpop {
    border-top: solid;
    border-width: 1px;
    padding: 5px;
    cursor: pointer;
}

.divHighlight {
    background-color: darkgray;
    color: white;
}

.leaflet-popup-content-wrapper {
    background-color: #f3f3f3;
}